<%
if @page && !@page.language.blank?
  root = @page.translation_of.nil? ? @page : @page.translation_of
  translations = root.translations + [root]
%>
  <script type="text/javascript">
  jQuery(function($) {
    $('#cbsoft-languages a').attr('href', function(i,v) { return '<%= "/#{profile.identifier}/" %>' + v; });
    <% translations.each do |t| %>
      $('#cbsoft-languages .flag-<%= t.language %>').attr('href', '<%= url_for(t.url) %>?lang=<%= t.language %>');
    <% end %>
  });
  </script>
<% end %>

<section>
    <h2 class="sponsors">Patrocinadores</h2>
  <section class="sponsors">
    <div class="row">
      <h3>Diamante</h3>
      <div class="row galeria">
        <img src="/designs/themes/cbsoft2015/imgs/capes.png" alt="Capes" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/cnpq.png" alt="CNPq" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/fapemig.png" alt="Fapemig" class="img-responsive" />
      </div>
    </div>
    <div class="row">
      <h3>Ouro</h3>
      <div class="row galeria">
        <img src="/designs/themes/cbsoft2015/imgs/google_menor.png" alt="Google" class="img-responsive" />
      </div>
    </div>
    <div class="row">
      <h3>Prata</h3>
      <div class="row galeria">
        <img src="/designs/themes/cbsoft2015/imgs/raro_menor.png" alt="RaroLabs" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/takenet_menor.png" alt="TakeNet" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/tw_menor.png" alt="ThoughtWorks" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/ac.png" alt="AvenueCode" class="img-responsive" />
        <img src="/designs/themes/cbsoft2015/imgs/ibm.png" alt="IBM" class="img-responsive" />
      </div>
    </div> 
    <div class="row">
      <h3>Bronze</h3>
      <div class="row galeria">
        <img src="/designs/themes/cbsoft2015/imgs/avanti_menor.png" alt="Avanti" class="img-responsive" />
      </div>
    </div>
  </section>


  <section class="logos">
    <div class="row">
      <div class="promotion">
        <h3>Promoção</h3>
        <img src="/designs/themes/cbsoft2015/imgs/sbc.png" alt="Logo" class="img-responsive" width="97%">
      </div>
      <div class="organization">
        <h3>Organização</h3>
        <img src="/designs/themes/cbsoft2015/imgs/logo_organizacao.png" alt="Logo" class="img-responsive" width="99%">
      </div>
    </div>
    <br>
  </section>

  <section class="license-footer">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" id="footer-cc" target="_blank"><span>Licença Creative Commons</span></a>
    <span>Todo o conteúdo e dados do portal/site CBSoft.org estão disponíveis sob a licença</span> <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" target="_blank"><span>Creative Commons Atribuição 3.0 Unported (CC BY 3.0)</span></a>, <span>exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.</span>
    <br/>
    <p>Este portal/site utiliza o software livre <a href="http://noosfero.org" target="_blank">Noosfero</a>, licenciado pela <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">GNU Affero General Public License, versão 3 ou superior</a>.</p
  </section>

  <section class="developed-by">
    <div>
      <span>Desenvolvidor por</span>
      <a href="http://ccsl.usp.br/" target="_blank" alt="CCSL-USP">
        <img src="/designs/themes/cbsoft2015/imgs/ccsl-usp.png" width="110px" height="20px" alt="CCSL-USP" />
      </a>
      <a href="http://www.rarolabs.com.br" target="_blank" alt="RaroLabs">
        <img src="/designs/themes/cbsoft2015/imgs/logo_raro.png" width="86px" height="20px" alt="RaroLabs" />
      </a>
    </div>
  </section>

</section>
<script type="text/javascript">
(function($) {
  
  $('nav#nav li.submenu ul').hide();
  $('nav#nav li.submenu a.item').on('click', function(){
    $(this).parent('li.submenu').find('ul').toggle();
    return false;
  });
    
  var $translations = {
    en: {
      "Patrocinadores": ["Sponsors"],
      "Diamante": ["Diamond"],
      "Ouro": ["Gold"],
      "Prata": ["Silver"],
      "Bronze": ["Bronze"],
      "Promoção": ["Promotion"],
      "Organização": ["Organization"],
      "Painel de Controle": ["Control Panel"],
      "Desenvolvidor por": ["Developed by"],
      "Redes Sociais": ["Social Network"],
      "Todo o conteúdo e dados do portal/site CBSoft.org estão disponíveis sob a licença": ["All content and portal data/site CBSoft.org are available under license"],
      "Creative Commons Atribuição 3.0 Unported (CC BY 3.0)": ["Creative Commons Attribution 3.0 Unported (CC BY 3.0)"],
      "exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.": ["except where specified otherwise replicated and content from other sources."]
    }
  }

  var language = $('html').attr('lang');
  if ($translations[language]) {
    $('#theme-footer h2, #theme-footer h3, #theme-footer section.developed-by span, #theme-footer section.license-footer span').each(function() {
      var element = $(this);
      var translated = $translations[language][element.html()];
      if (translated) {
        element.html(translated[0]);
      }
    });
  }
})(jQuery);
</script>
