<div id="fb-root"></div>
<script>(function(d, s, id) {
  var language = $('html').attr('lang');
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  if(language == "pt"){
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
  }else{
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  }
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="cbsoft2015-header">
  <div class="logo">
    <img src="/designs/themes/cbsoft2015/imgs/logo.png" alt="Logo" usemap="#maplogo" width="95%" height="255px">
    <map name="maplogo">
      <area shape="rect" coords="0,0,440,86" href="http://cbsoft.org/cbsoft2015" alt="Logo">
    </map>
  </div>
  <div id="cbsoft-languages">
    <a class="flag-pt" title="Português" href="?lang=pt"></a>
    <a class="flag-en" title="English" href="?lang=en"></a>
  </div>
  <div id="header-search">
    <form action="/search" id="top-search" method="get">
      <div>
        <i class="search-icon"></i>
        <input type="text" name="query" placeholder="Buscar por">
      </div>
    </form>
  </div>
  <div id="cbsoft2015-menu">
    <div class="confs">
      <a href="/sbes2015">XXIX SBES</a>
      <span class="point">.</span>
      <a href="/sblp2015">XIX SBLP</a>
      <span class="point">.</span>
      <a href="/sbmf2015">XVIII SBMF</a>
      <span class="point">.</span>
      <a href="/sbcars2015">IX SBCARS</a>
    </div>
    <div class="pull-right date"> 
      <h2>21 a 25<span>/09/15</span>BELO HORIZONTE - MG</h2> 
    </div>
    </div>
</div>
