@import url(../profile-base/style.css);

@font-face {
    font-family: 'Lovelo Black';
  src: url('fonts/Lovelo-Black.eot'); 
  src: url('fonts/Lovelo-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lovelo-Black.woff') format('woff'),
       url('fonts/Lovelo-Black.ttf')  format('truetype'),
       url('fonts/Lovelo-Black.svg#svgFontName') format('svg');    
}

@font-face {
    font-family: 'Lovelo Line Bold';
  src: url('fonts/Lovelo-Line-Bold.eot'); 
  src: url('fonts/Lovelo-Line-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lovelo-Line-Bold.woff') format('woff'),
       url('fonts/Lovelo-Line-Bold.ttf')  format('truetype'),
       url('fonts/Lovelo-Line-Bold.svg#svgFontName') format('svg');    
}

@font-face {
    font-family: 'Oxygen';
  src: url('fonts/Oxygen-Regular.eot'); 
  src: url('fonts/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Oxygen-Regular.woff') format('woff'),
       url('fonts/Oxygen-Regular.ttf')  format('truetype'),
       url('fonts/Oxygen-Regular.svg#svgFontName') format('svg');    
}

body {
  background: url(imgs/bg_black.png);  
}

#wrap-1 {
  width: 100%;
  position: relative;
}

#wrap-2 {
  margin: auto;
  border: none;  
}

#wrap-2 div.design-menu {
  position: relative!important;
}

.controller-profile .login-box .button-bar {
  padding-top: 0px;
}

#user {
  top: 4px;
  display: none;
}

#user form {
  display: none;
}

div.painel-controle span.logged-in a.ctrl-panel{
  margin-top: 20px;
}

#site-title {
  display: none;
}

#content {  
  margin-top: 20px;
}

.box-1 .main-content{
  border: none;
  margin: 20px;
  border-radius: 0;
  box-shadow: none;
  padding:0 20px;
  width:100%
}

#content .main-block h1,
#not-found h1,
#content .no-boxes h1,
#access-denied h1 {
  font-variant: normal;
  border-bottom: none;
  color: #4F4F51;
}

#addThis {
  text-align: left;
}

.btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
}

/************************** theme header ***************************/

#theme-header {
  height: 190px;
  position: relative;
}

#cbsoft2015-header{
  position: relative;
  height: 190px; 
  width: 100%;
  left: 0;
}

#cbsoft2015-header .logo{
  margin-left: 40px;
}

#cbsoft2015-menu {      
  padding-top: 7px;
  height: 32px;
  background: url(imgs/subtop.png);
  border-top: 1px solid #bbb;
  position: absolute;
  bottom: 0;
  width: 100%;
}

span.point {
    color: white;
    margin-left: -5px;
    margin-right: -13px;
    font-size: 20pt;
    font-family: serif;
    font-weight: bolder;
    position: relative;
    top: -4px    
}

div.date h2 {
    color: white;
    text-align: right;
    padding-right: 70px;
    font-size: 22px;
    margin: -23px 0 0 0;
    font-family: "Lovelo Black";    
}

div.date h2 span {
    font-size: 70%;
    margin-right: 10px;
}

#content .main-block h1{  
  font-family: "Lovelo Black";
  font-size: 17pt;
  color: #9fc20a;
  line-height: 27px;
}

div.confs{
  margin-left: 40px;  
  margin-top: -6px;
  font-weight: bold;
  text-decoration: none;
  text-transform:uppercase;
  color: #9fc20a;
  font-family: "Lovelo Black";
  font-size: 17pt;
}

#cbsoft2015-menu ul {
  padding-left: 40px;
  margin-top: 2px;
  margin-left: -8px;
}

#cbsoft2015-menu li {
  float: left;
  list-style: none;
}

#cbsoft2015-menu a {  
  margin-left: 10px;  
  font-weight: bold;
  text-decoration: none;
  text-transform:uppercase;
  color: #9fc20a;   
  font-family: "Lovelo Black";
  font-size: 17px
}

#cbsoft2015-menu a:hover {
  text-decoration: underline;
}

#cbsoft2015-menu li#first-item a {
  padding-left: 14px;
}

#cbsoft2015-menu li#last-item a {
  background: none;
}


/************************** theme footer ***************************/

#theme-footer {
  margin: 0px;
  padding-bottom: 0px;
  width: 100%;
  /*height: 450px;*/
  font-size: 10px;
  background: #FFF;
  position: relative;
  padding-top: 1px;
}

#theme-footer a {
  color: #555;
}

h2.sponsors{
  font-family: "Lovelo Black";
  margin-bottom: 15px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left:40px;
  color: #9fc20a;
}

h2.social {
    font-family: "Lovelo Black";
    margin-bottom: 15px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #9fc20a; 
}

h2.cbsoft {
    color: #9fc20a
}
h2.sbes {
    color: #543e6e
}
h2.sblp {
    color: #ee2427
}
h2.sbmf {
    color: #35bbdc
}
h2.sbcars {
    color: #e1c70f
}

section{
  width: 90%;
}

section.social{
  width: 100%;
}

section.social div.twitter{
  width:190px;
}
section.social div.facebook{
  width:190px;
  margin-bottom: 20px;
}

.pull-left{
  float:left;
}

.pull-right{
  float:right;
}

section.sponsors {
  background-color: white;
  width: 100%;
  border-radius: 5px;    
  padding-bottom: 20px;
  margin-left: 40px;
}

section.sponsors h3 {
    color: #bbb;
    font-size: 8px;
    margin-left: 15px;
    font-family: "Lovelo Black";
    padding-top: 15px;
    padding-bottom: 15px;
}

section.organization {
    padding: 0 15px 15px 15px;
    margin: 0 15px
}

section.organization h3 {
    color: #282828;
    font-family: "Lovelo Black";
    font-size: 12px
}
section.organization div.row>div:first-child {
    padding: 0
}
section.sponsors div.galeria{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0 15px;
}

section.sponsors div.galeria img{
  vertical-align: middle;
  margin-right: 50px;
  margin-bottom: 30px;
}

.footer {
    height: 100px;
    overflow: visible
}

section.logos {
  width: 100%;
  margin: auto;
  text-align: left;  
  position: relative;
  text-transform: uppercase;
}

section.logos div {
  float: left;
  text-align: left;  
}

section.logos div.row{
  width: 100%;
  margin-left: 40px;
}

section.license-footer {
  text-align: left;
  width: 100%;
  margin-top: 220px;
  margin-left: 110px;
  font-size: 12px;
  color: #036;
}

section.license-footer p{
  text-align: center;
  color: #555!important;
  font-size: 11px!important;
}

#footer-cc{
  background: url("imgs/cc1.png") repeat scroll 0% 0% transparent;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 5px;
}
#footer-cc span{
  display: none;
}

section.developed-by{
  text-align: right;
  padding-bottom: 5px;
  font-size: 10px;
  width: 98%;
}

section.developed-by > div img{
  vertical-align: middle;
  padding-left: 3px;
}

div.organization{
  width:57%;
  padding-left: 1%;
}
div.promotion{
  width:25%;
}
div.painel-controle{
  width:17%;
}

div.painel-controle form{
  text-align: center;
}

div.painel-controle form > input{
  position: relative;
  width: 175px;
  display: block;
  margin: 10px 0px;
  padding: 5px 2px;
  border: medium none;
}

div.painel-controle input[type="submit"]{
  width:138px;
  display: inline;
  margin-top: 0;
}

div.painel-controle span.logged-in a{
  position: relative;
  display: block;
}

/***************************** blocks *****************************/
#cbsoft-languages{
  position: absolute;
  top: 193px;
  right: 29px;
  z-index: 1;
}

#cbsoft-languages a{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

#cbsoft-languages .flag-pt {
  background-image: url("imgs/BR.png");
}

#cbsoft-languages .flag-en {
  background-image: url("imgs/UK.png");
}

.profile-info-options{
  text-align: left!important;
}

.members-block .block-inner-2{
  margin-left: 70px;
  margin-right: 88px;
}

.members-block .block-footer-content a{
  right: 102px!important;
}

div.article-translations{
  display:none!important;
}

#header-search{
  position: absolute;
  top: 115px;
  right: 107px;
}

#top-search{
  text-align: right;
  color: #FFF;
  width: 200px;
}

#top-search div{
  position: relative;
}

#top-search i.search-icon{
  margin-top: 4px;
  position: absolute;
  padding: 15px;
  pointer-events: none;
  right: -45px;
  background: url("imgs/lupa-searchbar.png") no-repeat scroll 0% 0% transparent;
}

#top-search input{
  padding: 6px 30px 6px 12px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #555;
}

#content .block-title {
  border: none;
  font-size: 20px;
  font-variant: normal;
  margin-bottom: -8px;  
}


button.register {
    background-color: #543e6e;
    color: white;
    font-family: "Lovelo Line Bold";
    font-size: 21.83pt;
    border: 0;
    /*margin-top: 20px;*/
    padding-bottom: 0;
    z-index: 1;
}

button.register:hover{
  color: black;
}


nav.menu {
    margin-top: 10px
}
nav.menu ul.conf {
    font-family: 'Lovelo Black';
    margin: 0;
    padding: 0
}
nav.menu ul.conf li.cbsoft>a {
    color: #9fc20a
}
nav.menu ul.conf li.sbes>a {
    color: #543e6e
}
nav.menu ul.conf li.sblp>a {
    color: #ee2427
}
nav.menu ul.conf li.sbmf>a {
    color: #35bbdc
}
nav.menu ul.conf li.sbcars>a {
    color: #e1c70f
}
nav.menu ul.conf li a {
    font-size: 20px
}
nav.menu ul.conf li {
    list-style: none
}
nav.menu ul.conf ul {
    margin-top: -5px;
    margin-bottom: 10px;
    font-family: "Oxygen";
    padding: 0;
    padding-left: 0
}

nav.menu a{
  text-decoration: none!important;
}

nav.menu a:hover{
  text-decoration: underline!important;
}

nav.menu ul.conf ul a {
    font-size: 14px;
    color: #474216;
}

nav.menu nav#nav li.submenu ul{
  padding-top:5px;
  padding-left:10px;
}

.box-2{
  margin-left: 40px;
}

.box-1 .blocks{
  float: none;
}

.box-1{
  margin: 0 274px 0 228px!important;
}

#content .link-list-block li a {
  margin-top: -5px;
  margin-bottom: -8px;
  font-family: "Oxygen";
  padding: 0;
  padding-left: 0;
  background-color: transparent;
  color: #474216;
}

#content .link-list-block li{
  background-color: transparent;
}

#content .link-list-block li a:hover {
  color: #2D2B2B;
  border-right: none;
  background: transparent;  
}

#content .link-list-block li a.link-this-page {
  color: #555753;
  background-color: transparent;
}

#content .link-list-block li a.link-this-page,
#content .link-list-block li a.link-this-page:hover {
  border-right: none;
}

.raw-html-block .flag-pt,
.raw-html-block .flag-es,
.raw-html-block .flag-eo,
.raw-html-block .flag-en {
  width: 21px;
  height: 16px;
  display: block;
  float: right;
  margin-left: 10px;
  background: no-repeat center center;
}

.raw-html-block .flag-pt {
  background-image: url(imgs/brasil.png);
}

.raw-html-block .flag-es {
  background-image: url(imgs/espanha.png);
}

.raw-html-block .flag-eo {
  background-image: url(imgs/esperanto.png);
}

.raw-html-block .flag-en {
  background-image: url(imgs/england.png);
}

.raw-html-block #cbsoft2015-languages {
  height: 30px;
}

.raw-html-block #cbsoft2015-languages span {
  display: none;
}

.slideshow-block h3.block-title {
  margin-bottom: 0px;
}

.slideshow-block .slideshow-container {
  margin-bottom: 0px;
  margin-top: -10px;
}

.slideshow-block a,
#block-111685 a {
  color: #7D7D7D;
  text-decoration: none;
}

.slideshow-block a:hover,
#block-111685 a:hover {
  text-decoration: underline;
}

.block.slideshow-block a:visited,
#block-111685 a:visited {
  color: #7D7D7D;
  font-weight: bold;
}

/***************** block titles *******************/

#content .box-3 .block-title {
  color: #7D7D7D;
  font-size: 14px;
  text-align: right;
}

/* Primeiro bloco */
#content .box-2 .block .block-title {
  color: #224469;
}

#content .box-2 .block h3.block-title span {
  font-size: 20px;
  font-family: "Lovelo Black";
  color: #9fc20a;
}

/* Segundo bloco */
#content .box-2 .block + .block .block-title {
  color: #861D58;
}
#content .box-2 .block + .block h3.block-title span {
  background: url(imgs/block2-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/* Terceiro bloco */
#content .box-2 .block + .block + .block .block-title {
  color: #DB1C52;
}
#content .box-2 .block + .block + .block h3.block-title span {
  background: url(imgs/block3-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/* Quarto bloco e demais */
#content .box-2 .block + .block + .block + .block .block-title {
  color: #ED883A;
}
#content .box-2 .block + .block + .block + .block h3.block-title span {
  background: url(imgs/block-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/***************** highlight block *******************/

.highlights-container {
  border: none;
  background-color: #ADACAC;
  width: 100% !important;
}

.highlights-block-pager {
  margin-top: 10px;
}

.block a.highlights-image-link {
  position: absolute;
  left: 0px;
}

.block a.highlights-image-link:hover {
  text-decoration: none;
}

.highlights-label {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-size: 14px;
}

/* Primeira imagem */
.highlights-image-link .highlights-label {
  background-image: url(imgs/label-1.png);
}
.highlights-block-pager a {
  height: 20px;
  width: 30px;
  margin-left: 0px;
  padding: 10px 15px;
  color: transparent;
  background: url(imgs/label-1.png);
}
.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:visited,
.highlights-block-pager a:visited,
.highlights-block-pager a:hover {
  color: transparent;
}

/* Segunda imagem */
.highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-2.png);
}
.highlights-block-pager a + a {
  background: url(imgs/label-2.png);
}

/* Terceira imagem */
.highlights-image-link + .highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-3.png);
}
.highlights-block-pager a + a + a {
  background: url(imgs/label-3.png);
}

/* Quarta imagem */
.highlights-image-link + .highlights-image-link + .highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-4.png);
}
.highlights-block-pager a + a + a + a {
  background: url(imgs/label-4.png);
}

/* edição do bloco */
.controller-profile_design #content .block.highlights-block {
  margin-bottom: 60px;
}

.controller-profile_design .highlights-block .button-bar {
  margin-top: 40px;
}

/*************************** content *******************************/

#content .blog-post .title a {
  color: #555;
}

.blog-post {
  background: url(imgs/posts-sep.png) no-repeat center bottom;
  padding-top: 0px;
}

.msie .blog-post {
  padding-top: 10px;
}

#content .main-block .created-at,
#content .main-block .created-at a {
  color: #43607E;
}

#article {
  font-size: 16px;
  color: #232323;
  text-align: justify;
  font-weight: 400;
}

#article.blog #article-header h1 {
  display: none;
  border: 1px solid green;
}

#article.blog #addThis {
  display:none;
}

#content .blog-posts {
  margin-top: 10px;
}

#article .blog-feed-link {
  display: none;
}

#article .article-body {
  overflow: hidden;
}

#article-parent {
  display: none;
}

#article .article-body a.icon {
  padding: 0px 0px 3px 20px;
  border: none;
  background-repeat: no-repeat;
}

#article .article-body a.icon:hover {
  background-color: transparent;
}

#article .sponsor-type {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 5px;
  color: #555753;
  background-color: #CCC;
}
